<% @table.columns.each do |column| %>
  <td class="column_<%= column.name %>" style=<%= display_style_column(@table.name, column.name) %>>
    <% name = column.name %>
    <%= format_value(column, record[name]) %>
  </td>
<% end %>
